https://www.crummy.com/software/BeautifulSoup/bs4/doc/  #cheeckout all in Beautifulsoup

#web scraping using python

#step 0:
#make a env and activate


#install all the requiremnents

pip install requests

pip install bs4

pip install html5lib


# create a python file (main.py)
# in main.py


